@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

div {
  font-family: 'Hind Vadodara', sans-serif;
}


.pop {
  font-family: 'Poppins', sans-serif;
  font-weight: 600
}

.halfback {
  background: linear-gradient(to left,
      #ffffff 0%,
      #ffffff 70%,
      #f5f5f5 30%,
      #f5f5f5 50%);
}

.halfdirect {
  background: linear-gradient(to left,
      #ffffff 0%,
      #ffffff 90%,
      #546e7a 10%,
      #546e7a 10%);
}

.halfbacktwo {
  background: linear-gradient(to right,
      #ffffff 0%,
      #ffffff 30%,
      #f5f5f5 70%,
      #f5f5f5 50%);
}


.aboutus {
  background: url('../assets/aboutus.png');
}

.contactus {
  background: url('../assets/contactus.jpg')
}

.trans {
  transition: 50s ease-in;
}


#onhover{

        /* width: 35vw; */
         /* margin: 3rem;
          margin-bottom: 0rem;
           padding: 2rem;
           text-align: left; */
}

#onhover :hover {
  background: url('../assets/aboutus.png');
  position: relative;
  cursor: pointer;
  /* width:50rem ; */
  /* height:90rem ; */
}