.App {
  text-align: center;
  /* background-color: whitesmoke; */
 
}

/* .inverstors{
  background-image: url('./assets/invertor1.jpg'),url('./assets/invertor2.jpg'),url('./assets/invertor3.png'),url('./assets/invertor4.jpg');

        width: 100%;
        height: 40vh;
        padding: 200px;
        background-repeat: repeat;
        transition: background-image 1s;
} */

