.scrcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarbtn1 {
    text-decoration: none;
    color: white;

    padding: 0.5vw;
}

.navbarbtn1:hover {
    text-decoration: underline;
    color: white;

}